#current-width h2 {
  font-size: 5em;
  margin-top: 45px;
}
#colors {
  position:absolute;
  background:white;
  padding-top:100px;
}
.slide {
  margin-top:25px;
}
pre {
  height: 200px;
  overflow:scroll;
}
