body {
  overflow:hidden;
}
section {
  float:left;
  height:700px;
  width:940px;
  padding-right:400px;
}

.mask {
  width:10000px;
  height:700px;
}
.content {
}
#current-width h2 {
  margin-top:200px;
  font-size: 11em;
}
